.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8); /* semi-transparent overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.loader:after {
  content: '';
  width: 60px;
  height: 60px;
  border: 6px solid #ccc;
  border-top-color: #E41C5A;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
