
<div class="sidebar header bg-light shadow-lg">
  <div class="logo mb-3  d-flex justify-content-center">
    <div class="logo-icon ms-0">
      <img src="https://img.icons8.com/?size=100&id=103424&format=png&color=000000" alt="Admin Icon" />
    </div>
    <div class="logo-text  ms-0">AdminPanel</div>

    </div>


  <div class="sidebar-menu  mt-0 text-start">
    <div class="menu-item ms-3" [routerLink]="['DashboardCharts']">
      <i class="fas fa-chart-line"></i>
      <span>Dashboard</span>
    </div>
    <div class="menu-item ms-3" [routerLink]="['UserManagement']" >
      <i class="fas fa-user"></i>
      <span>User Management</span>
    </div>
    <div class="menu-item ms-3" [routerLink]="['Violation']">
      <i class="fas fa-exclamation-triangle"></i>
      <span>Violation</span>
    </div>
    <div class="menu-item ms-3 " [routerLink]="['AdminNotifications']">
      <i class="fas fa-bell"></i>
      <span>Notifications</span>
    </div>
    <div class="menu-item ms-3 " [routerLink]="['PropertyManagement']">
      <i class="fa-solid fa-house"></i>
      <span>properties</span>
    </div>
  </div>


</div>

