.map-container {
  padding: 20px;
}

.locations-list {
  margin-top: 20px;
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
}

.location-item {
  padding: 8px;
  margin: 5px 0;
  background-color: white;
  border-radius: 4px;
  border-left: 3px solid #ff385c;
}

google-map {
  border-radius: 8px;

  /* box-shadow: 0 2px 8px rgba(0,0,0,0.1); */
}
.google-map-wrapper {
   /* or any height you need */
  border-radius: 10px;
  /* overflow: hidden; */
}

.google-map{
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 10px;
}


.map-container {
  width: 100%;
  height: 500px;
  border-radius: 10px;
}
