 <div >
        <div class="row ">
            <div class="col-12">
                
                <!-- Header Section -->
                <div class="text-center mb-5">
                    <div class="  d-flex justify-content-center gap-3 align-items-center  mb-3">
                        <div class="mt-5">
                             <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/78b7687c-5acf-4ef8-a5ea-eda732ae3b2f.png" style="width: 80px;">
                        </div>
                        <div class="align-text-top">
                            <span class="rating-display ">{{averageRating}}</span>
                        </div>
                        
                        <div class="mt-5">
                             <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/b4005b30-79ff-4287-860c-67829ecd7412.png" style="width: 80px;">
                        </div>
                       
                    </div>
                    <h2 class="h3  fw-semibold mb-3">Guest favorite</h2>
                    <p class="text-muted">This home is a guest favorite based on ratings, reviews, and reliability</p>
                </div>

                <!-- Rating Categories Section -->
                <div class="row g-4 mb-5 pb-4 border-bottom">
                 
                <!-- Reviews Grid -->
                <div class="row g-4 mb-5">
                    <!-- Review 1 -->
                    <div class="col-12 col-lg-6 ">
                        @for (rev of guestReviews.slice(0,6); track $index) {

                        <div class="d-flex mb-3 align-items-center">
                            <img [src]="rev.reviewerimage" alt="Ehab" class="review-avatar me-3">
                            <div>
                                <h5 class="fw-semibold mb-1">{{rev.reviewerName}}</h5>
                                <!-- <small class="text-muted">Dubai, United Arab Emirates</small> -->
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                 @for (i of getStarArray(rev.rating); track i) {
                                    <i [class]="i <= rev.rating ? 'fas fa-star star-filled' : 'fas fa-star star-empty'"></i>
                                    }
                            </div>
                            <span class="text-muted">{{rev.createdAt | date:'MMMM yyyy'}}</span>
                        </div>
                        
                        <p class="textRev  mb-3"  style="word-break: break-word;">
                            {{rev.comment.length > 100 ? rev.comment.substring(0, 200) + '...' : rev.comment}}
                          
                        </p>
                            <ng-container *ngIf="rev.comment.length > 100">
                               <a 
                                href="#"
                                (click)="openModalAndScrollTo($index)"
                                class="text-dark Shownore text-decoration-underline fw-semibold"
                                data-bs-toggle="modal"
                                data-bs-target="#allReviewsModal"
                                >Show more</a>

                            

                        </ng-container>
                        }
                    </div>
                        
                    

                <!-- Footer Section -->
                <div class="">
                   <button 
  class="btn btn-outline-dark me-3 mb-3"
  *ngIf="guestReviews.length > 6"
  data-bs-toggle="modal"
  data-bs-target="#allReviewsModal"
>
  Show all {{ guestReviews.length }} reviews
</button>
                    <a href="#" class="text-dark text-decoration-underline fw-semibold">Learn how reviews work</a>
                </div>

            </div>
        </div>
    </div>

    <div class="modal  fade" id="allReviewsModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog  modal-xl modal-dialog-scrollable">
    <div class="modal-content ">
      <div class="modal-header">
        <h5 class="modal-title">All Reviews</h5>
        
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
       <!-- Header Section -->
                <div class="text-center mb-5">
                    <div class="  d-flex justify-content-center gap-3 align-items-center  mb-3">
                        <div class="mt-5">
                             <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/78b7687c-5acf-4ef8-a5ea-eda732ae3b2f.png" style="width: 80px;">
                        </div>
                        <div class="align-text-top">
                            <span class="rating-display ">{{averageRating}}</span>
                        </div>
                        
                        <div class="mt-5">
                             <img src="https://a0.muscache.com/im/pictures/airbnb-platform-assets/AirbnbPlatformAssets-GuestFavorite/original/b4005b30-79ff-4287-860c-67829ecd7412.png" style="width: 80px;">
                        </div>
                       
                    </div>
                    <h2 class="h3  fw-semibold mb-3">Guest favorite</h2>
                    <p class="text-muted">This home is a guest favorite based on ratings, reviews, and reliability</p>
                </div>
                
      <div class="modal-body p-5">
        <div class="row">
          <div class="col-12 col-lg-6" >
             @for (rev of guestReviews; track $index) {

                        <div class="d-flex mb-3 align-items-center" [attr.id]="'review-' + $index">
                            <img [src]="rev.reviewerimage" alt="Ehab" class="review-avatar me-3">
                            <div>
                                <h5 class="fw-semibold mb-1">{{rev.reviewerName}}</h5>
                                <!-- <small class="text-muted">Dubai, United Arab Emirates</small> -->
                            </div>
                        </div>
                        <div class="d-flex align-items-center mb-3">
                            <div class="me-3">
                                 @for (i of getStarArray(rev.rating); track i) {
                                    <i [class]="i <= rev.rating ? 'fas fa-star star-filled' : 'fas fa-star star-empty'"></i>
                                    }
                            </div>
                            <span class="text-muted">{{rev.createdAt | date:'MMMM yyyy'}}</span>
                        </div>
                        
                        <p class="textRev  mb-3"  style="word-break: break-word;">
                            {{rev.comment}}
                          
                        </p>
                        
                        }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>